@use "../../abstracts/" as abst;
.feed {
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		container-type: inline-size;
		container-name: feed-toggle;
		margin-bottom: 40px;
	}
	&-tab {
		display: flex;
		justify-content: space-between;
		align-items: center;
		white-space: nowrap;
		&-item {
			cursor: pointer;
			--padding: 10px;
			padding: var(--padding);
			font-weight: 500;
			font-size: 14px;
			border-bottom: 1px solid abst.$gray3;
			border-bottom-color: currentColor;
			& a {
				color: abst.$gray1;
			}
		}
		&-item.is-active a {
			color: abst.$primary-color;
			font-weight: 600;
		}
	}

	&-toggle {
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: 500;
		color: abst.$gray1;
		font-size: 14px;
	}
	@container feed-toggle (max-width:470px) {
		&-toggle p {
			display: none;
		}
	}
	&-main {
		container-type: inline-size;
		container-name: feedMain;
	}

	&-item {
		border-radius: 10px;
		border: 1px solid abst.$gray-natural2;
		margin-bottom: 30px;
		&-header {
			padding: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-main {
			border-top: 1px solid var(--feed-border, #f0f3f6);
			border-bottom: 1px solid var(--feed-border, #f0f3f6);
			padding: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
		}
		&-image {
			flex: 0 0 152px;
			overflow: hidden;
			aspect-ratio: 1;
			width: 100%;
			img {
				border-radius: 10px;
				@include abst.imgCover();
			}
		}
		&-podcast {
			color: var(--Gray--2, #a6a7b2);
			font-weight: 400;
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 6px;
		}
		&-heading {
			color: abst.$text-black1;
			margin-bottom: 12px;
			font-size: 14px;
			line-height: 1.5;
		}
		&-time {
			display: flex;
			align-items: center;
			gap: 10px;
			margin-bottom: 16px;
			&-left {
				display: flex;
				align-items: center;
				gap: 4px;
			}
		}
	}
	&-author {
		display: flex;
		align-items: center;
		gap: 16px;
		&-avatar {
			@include abst.size(48px);

			position: relative;
			flex: 0 0 48px;
			img {
				@include abst.imgCover();
				@include abst.rounded("rounded-full");
			}
		}
		&-verify {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 2;
		}
		&-rating {
			display: flex;
			align-items: center;
			font-weight: 500;
			gap: 4px;
			margin-top: 2px;
			margin-bottom: 4px;
			color: var(--Gray--2, #a6a7b2);
		}
	}
	&-date {
		color: #a6a7b2;
		font-weight: 400;
	}
	@container feedMain (min-width:500px) {
		&-author {
			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 5px;
				margin-bottom: 4px;
			}
			&-rating {
				gap: 10px;
				margin: 0;
			}
		}
	}
}
