@use "../../abstracts/" as abst;
.feed {
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-tab {
		display: flex;
		justify-content: space-between;
		align-items: center;
		white-space: nowrap;
		&-item {
			cursor: pointer;
			--padding: 10px;
			padding: var(--padding);
			font-weight: 500;
			font-size: 14px;
			border-bottom: 1px solid abst.$gray3;
			& a {
				color: abst.$gray1;
			}
		}
	}
	&-toggle {
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: 500;
		color: abst.$gray1;
		font-size: 14px;
	}
}
