@use "../../abstracts/" as abst;
.host {
	&-heading {
		font-weight: 600;
		font-size: 16px;
		color: abst.$text-black1;
		margin-bottom: 20px;
	}
	&-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 37px;
	}
	&-item {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 7px;
	}
	&-name {
		font-size: 14px;
		font-weight: 400;
		color: abst.$gray1;
	}
	&-avatar {
		@include abst.size(70px);
		border-radius: 100rem;
		background: var(--support-color-support-color-2nd-50, #ffbaa5);
	}
}
