@use "../../abstracts/" as abst;
.host {
	&-heading {
		font-weight: 600;
		font-size: 16px;
		color: abst.$text-black1;
		margin-bottom: 20px;
	}
	&-list {
		display: flex;
		align-items: center;
	}
	&-name {
		font-style: 14px;
		font-weight: 400;
	}
}
