@use "../../abstracts/" as abst;
.topic {
	&-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		grid-gap: 12px 22px;
	}
	&-item {
		border-radius: 10px;
		position: relative;
		&-avatar {
			img {
				width: 100%;
				border-radius: 10px;
				// opacity: 0.75;
			}
		}
		&-content {
			display: flex;
			border-radius: inherit;
			flex-direction: column;
			position: absolute;
			padding: 10px;
			inset: 0;
			background: var(--Black-1, #1b1d21);
			opacity: 0.74;
			color: var(--White, #fff);
		}
		&-username {
			color: var(--White, #fff);
		}
	}
}
