@use "../../abstracts/" as abst;
.topic {
	&-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		grid-gap: 12px 22px;
	}
	&-item {
		&-avatar {
			img {
				width: 100%;
			}
		}
	}
}
