@use "../../abstracts/" as abst;
.trending {
	padding-top: 20px;
	&-heading {
		--mb: 11px;
		color: abst.$text-black1;
	}
	&-banner {
		padding: 20px;
		border-radius: 10px;
		background-color: abst.$white-natural;
		display: flex;
		align-items: center;
	}
  &-content
}
