svg(width="44", height="44", viewBox="0 0 44 44", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M12 22.97V16.99C12 14.23 14.24 12 17 12H27C29.76 12 32 14.23 32 16.99V23.97C32 26.72 29.76 28.95 27 28.95H25.5C25.19 28.95 24.89 29.1 24.7 29.35L23.2 31.34C22.54 32.22 21.46 32.22 20.8 31.34L19.3 29.35C19.14 29.13 18.78 28.95 18.5 28.95H17C14.24 28.95 12 26.72 12 23.97V22.97Z", fill="#E5EAF1")
  path(d="M27 18.75H17C16.59 18.75 16.25 18.41 16.25 18C16.25 17.59 16.59 17.25 17 17.25H27C27.41 17.25 27.75 17.59 27.75 18C27.75 18.41 27.41 18.75 27 18.75Z", fill="#A5B4CB")
  path(d="M23 23.75H17C16.59 23.75 16.25 23.41 16.25 23C16.25 22.59 16.59 22.25 17 22.25H23C23.41 22.25 23.75 22.59 23.75 23C23.75 23.41 23.41 23.75 23 23.75Z", fill="#A5B4CB")
  rect(x="26", y="7", width="12", height="12", rx="6", fill="#FF754C")
  rect(x="26", y="7", width="12", height="12", rx="6", stroke="white", stroke-width="2")