.feed
  .feed-header 
    .feed-tab 
      .feed-tab-item.is-active
        a(href="#") My Feed
      .feed-tab-item
        a(href="#") My Feed
      .feed-tab-item
        a(href="#") My Feed
    .feed-toggle
  .feed-main