.widget.widget-listening
  +widgetHeader("Listening history")
  .follow-list
    each val in [{name:"Perspective with Yahia Amin",username:"Don't Always Win | LifeSpring"},{name:"Perspective with Mufti Menk",username:"Keep Moving. Don't Look Back!"},{name:"Perspective with Yahia Amin",username:"Don't Always Win | LifeSpring
"}]
      +followItem(val.name,val.username) 