.widget.widget-follow
  +widgetHeader("Suggested Follows")
  each val in div({name:"Yahia Amin",username:"@yahiamdamin"},{name:"Mufti Menk",username:"@muftimenk"},{name:"Omar Suleiman",username:"@omarsuleiman"},{name:"Nouman Ali Khan",username:"@noumanalikhan"})
    +followItem() 