.widget.widget-topic
  +widgetHeader("Topics")
  .topic-list
    each val in [{username:"Don't Always Win | LifeSpring"},{username:"Keep Moving. Don't Look Back!"},{username:"Don't Always Win | LifeSpring"}]
      +topicItem(val.username) 