.trending
  h2.heading.trending-heading Trending
  .trending-banner 
    .trending-content
      .trending-tittle  
        span UX Design 
        | Process: Mental Modeling Framework.
      .trending-podcast Podcast Episode - 1
      .trending-author 
        | Thomas L. Fletcher 
        span.trending-author-position ( Product Designer at UIHUT )