.trending
  h2.heading.trending-heading Trending
  .trending-banner 
    .trending-content
      h3.trending-tittle  
        span UX Design 
        | Process: Mental Modeling Framework.
      .trending-podcast Podcast Episode - 1
      .trending-author 
        | Thomas L. Fletcher 
        span.trending-author-position (  Designer at UIHUT )
      button.button.button--primary
        img(src="./images/icons/play-icon.png", alt="play")
        span Play Now
    .trending-circle 
      img(src="./images/icons/circle-icon.png", alt="Circle")
    .trending-circle 
      img(src="./images/icons/circle-icon.png", alt="Circle")
    .trending-image   
      img(src="./images/icons/img-man.png", alt="Man")