.topbar
  .search 
    img(src="../images/icons/search-icon.svg", alt="Search").search-icon
    input(type="text" placeholder="Search 2+ million podcasts and listeners").search-input
  .topbar-right
    button.button-upload 
      img(src="../images/icons/upload-icon.svg", alt="Upload")
      span Upload