aside.sidebar
  a.logo(href="./") 
    img(srcSet="./images/logo.png 2x", alt="GOCAST")
  ul.menu 
    li.menu-item 
      a.menu-link(href="./") 
        img.menu-icon(src="./images/icons/home-icon.png", alt="")
        span.menu-text Home