aside.sidebar
  a.logo(href="./") 
    img(srcSet="./images/logo.png 2x", alt="GOCAST")
  ul.menu 
    each item in [{text:"Home",icon:"chart"},"Trending","Explore Topics","Playlist","Subscriptions"]
      +menuItem(item.text)
  ul.menu 
    h3.menu-heading Podcasters
    each item in ["Dashboard","Episodes","Team","Subscribers"]
      +menuItem(item)
  ul.menu 
    h3.menu-heading Community
    each item in ["Leaderboard"]
      +menuItem(item)
          