@use "../abstracts/" as abst;
.menu {
	margin: 48px 30px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	&-item {
		margin: 8px 30px 8px 20px;
		list-style: none;
	}
	&-link {
		display: flex;
		gap: 10px;
		align-items: center;
	}
	&-text {
		color: hsla(215, 19%, 59%, 1);
	}
}
