.host {
  padding-bottom: 28px;
}
.host-heading {
  --mb: 20px;
}
.host-list {
  --gap-list: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-list);
}
.host-item {
  --gap: 6px;
  --avatar-size: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
}
@media screen and (min-width: 768px) {
  .host-item {
    --gap: 7px;
    --avatar-size: 64px;
  }
}
.host-name {
  font-size: 14px;
  font-weight: 400;
  color: hsl(216, 3%, 38%);
}
.host-avatar {
  display: flex;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 100rem;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  object-fit: cover;
  background-color: var(--color);
  box-shadow: 0 0 0 2px white, 0 0 0 3px hsl(341, 100%, 84%);
  position: relative;
}

.trending {
  padding-top: 20px;
  padding-bottom: 36px;
  container-type: inline-size;
  container-name: trending;
}
.trending-heading {
  --mb: 11px;
  color: hsl(220, 10%, 12%);
}
.trending-banner {
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 97%);
  display: flex;
  align-items: flex-start;
  position: relative;
}
.trending-content {
  flex: 0 0 310px;
}
.trending-tittle {
  color: hsl(220, 10%, 12%);
  font-size: 22px;
  font-weight: 600;
  line-height: 145.4545454545%;
  margin-bottom: 11px;
}
.trending-tittle span {
  background: var(--Gradient, linear-gradient(92deg, #415ef4 0.33%, #7141ef 28.14%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.trending-podcast {
  color: hsl(218, 4%, 42%);
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
}
.trending-author {
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
  color: hsl(240, 19%, 17%);
  margin-bottom: 20px;
}
.trending-author-position {
  color: hsl(218, 4%, 42%);
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
}
.trending-image {
  position: absolute;
  right: 15px;
  max-width: 332px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .trending-circle {
    right: 15px;
  }
}
@container trending (max-width:600px) {
  .trending-image {
    display: none;
  }
  .trending-content {
    flex: 1;
  }
}
.trending-circle, .trending-vector {
  position: absolute;
}
.trending-vector {
  right: 5%;
  top: 5%;
}
.trending-circle {
  right: 10%;
  bottom: 10%;
}

.button--primary {
  --padding: 8px 14px;
}
.button--primary img {
  width: 24px;
  height: 24px;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: feed-toggle;
  margin-bottom: 40px;
}
.feed-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.feed-tab-item {
  cursor: pointer;
  --padding: 10px;
  padding: var(--padding);
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid hsl(225, 10%, 24%);
  border-bottom-color: currentColor;
}
.feed-tab-item a {
  color: hsl(216, 3%, 38%);
}
.feed-tab-item.is-active a {
  color: hsl(248, 57%, 60%);
  font-weight: 600;
}
.feed-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: hsl(216, 3%, 38%);
  font-size: 14px;
}
@container feed-toggle (max-width:470px) {
  .feed-toggle p {
    display: none;
  }
}
.feed-main {
  container-type: inline-size;
  container-name: feedMain;
}
.feed-item {
  border-radius: 10px;
  border: 1px solid hsl(208, 26%, 95%);
  margin-bottom: 30px;
}
.feed-item-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed-item-main {
  border-top: 1px solid var(--feed-border, #f0f3f6);
  border-bottom: 1px solid var(--feed-border, #f0f3f6);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
.feed-item-image {
  flex: 0 0 152px;
  overflow: hidden;
  aspect-ratio: 1;
  width: 100%;
}
.feed-item-image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feed-item-podcast {
  color: var(--Gray--2, #a6a7b2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 6px;
}
.feed-item-heading {
  color: hsl(220, 10%, 12%);
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5;
}
.feed-item-time {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.feed-item-timer {
  display: flex;
  align-items: center;
  gap: 4px;
}
.feed-item-desc {
  color: hsl(220, 10%, 12%);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 18px;
}
.feed-item-share {
  position: absolute;
  right: 20px;
  top: 20px;
}
.feed-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.feed-item-action {
  display: flex;
  align-items: center;
  gap: 19px;
}
.feed-author {
  display: flex;
  align-items: center;
  gap: 16px;
}
.feed-author-avatar {
  width: 48px;
  height: 48px;
  position: relative;
  flex: 0 0 48px;
}
.feed-author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.feed-author-verify {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.feed-author-rating {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 4px;
  margin-top: 2px;
  margin-bottom: 4px;
  color: var(--Gray--2, #a6a7b2);
}
.feed-date {
  color: #a6a7b2;
  font-weight: 400;
}
@container feedMain (min-width:500px) {
  .feed-author-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 4px;
  }
  .feed-author-rating {
    gap: 10px;
    margin: 0;
  }
  .feed-item-main {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.home-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: 60px;
}

/*# sourceMappingURL=home.css.map */
